@media screen and (max-width: 768px){
    nav{
        background-color: #333;
        z-index:11;
        margin-top: 60px;
        transform:  translateX(-10000px)  ;
        -webkit-transform:  translateX(-10000px)  ;
        -moz-transform:  translateX(-10000px)  ;
        -ms-transform:  translateX(-10000px)  ;
        -o-transform:  translateX(-10000px)  ;
        transition: transform 0.2s linear;
        -webkit-transition: transform 0.2s linear;
        -moz-transition: transform 0.2s linear;
        -ms-transition: transform 0.2s linear;
        -o-transition: transform 0.2s linear;
}

    nav.open{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    
    nav.close{
        transform: translateX(-10000px);
        -webkit-transform: translateX(-10000px);
        -moz-transform: translateX(-10000px);
        -ms-transform: translateX(-10000px);
        -o-transform: translateX(-10000px);
    }

    .nav-link li.active{
        background-color: #f2f2f2;
        color:#333;
    }
    #main-doc{
        margin-left:0px;
        padding-left:10px;
        padding-right:10px;
    }
    #menu-bars{
        display: block;
    }
}